@{
    ViewBag.Title = "Home";
}

<h1>Rick and Morty Personality Quiz</h1>

<p>
    Find out which character you are from the television show Rick and Morty. Are you a sidekick Morty? A Real Rick? Or a useless Jerry? 
    <br />
    This quiz consists of 10 questions, each with 3 answers, that have been made by exactly zero phsychology majors. 
    <br /> <br />
    This quiz is is no way official or related to the official Rick and Morty creators. 
    Nor is there any profit made from this quiz. So you can basically just ignore the result, if you don't like it. 
</p>

<p class="startQuizButton">
    <button>
        Start the Quiz
    </button>
</p>


<footer>
    

</footer>